.classList {
    position: absolute;
    top: 5%;
    left: 2%;
    width: 70%;
    overflow-y: scroll;
    list-style-type: none;
}
.classList li{
    margin: 5px;
    border: solid 3px black;
}

#create{
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(0,-50%);
}